header {
  text-align: center;
  margin: 20px 0;
}


@media (max-width: 768px) {
  h1 {
    font-size: 1.5em;
    line-height: 1.1;
}


}

@media (max-width: 768px) and (orientation: landscape) {

}

@media (min-width: 769px) {


}


@media (min-width: 992px) {


}