<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cf2.bstatic.com/static/css/hotel_experiments_cft.iq_ltr/86bb7ef5094d8b1b4aa487ef5dfac29e10a44b2e.css">
    <title>Document</title>
  </head>
  <body>
    <div>
      <div
        class="bh-photo-modal-thumbs-grid js-bh-photo-modal-layout js-no-close"
        data-layout="grid"
        style="background-color: red"
      >
        <div class="bh-photo-modal-thumbs-grid__main">
          <ul
            class="bh-photo-modal-masonry-grid"
            style="position: relative; height: 3360px"
          >
            <li
              class="bh-photo-modal-masonry-grid-sizer"
              style="width: 32.35%"
            ></li>
            <li
              class="bh-photo-modal-masonry-grid-item caption_hover"
              style="width: 32.35%; position: absolute; left: 0%; top: 0px"
            >
              <a
                href="https://cf2.bstatic.com/xdata/images/hotel/max1024x768/402367305.jpg?k=1e94e4bc5a28770fbff718e7a379be54ee48b1f204ac3871a559abb5721c76df&amp;o=&amp;hp=1"
                target="_blank"
                role="button"
                area-label="Imagen de la galería de este alojamiento"
                data-id="402367305"
                class="bh-photo-modal-grid-item-wrapper"
                ><img
                  class="bh-photo-modal-grid-image"
                  data-id="402367305"
                  alt="Imagen de la galería de este alojamiento"
                  height="191.25px"
                  src="https://cf2.bstatic.com/xdata/images/hotel/max1024x768/402367305.jpg?k=1e94e4bc5a28770fbff718e7a379be54ee48b1f204ac3871a559abb5721c76df&amp;o=&amp;hp=1"
              /></a>
            </li>
            <li
              class="bh-photo-modal-masonry-grid-item caption_hover"
              style="
                width: 32.35%;
                position: absolute;
                left: 33.3102%;
                top: 0px;
              "
            >
              <a
                href="https://cf2.bstatic.com/xdata/images/hotel/max1024x768/402367308.jpg?k=0a8d67b4ff7d72cb9003698427558168ebb3dccf70cf68e9f049e4026243e44a&amp;o=&amp;hp=1"
                target="_blank"
                role="button"
                area-label="Imagen de la galería de este alojamiento"
                data-id="402367308"
                class="bh-photo-modal-grid-item-wrapper"
                ><img
                  class="bh-photo-modal-grid-image"
                  data-id="402367308"
                  alt="Imagen de la galería de este alojamiento"
                  height="191.25px"
                  src="https://cf2.bstatic.com/xdata/images/hotel/max1024x768/402367308.jpg?k=0a8d67b4ff7d72cb9003698427558168ebb3dccf70cf68e9f049e4026243e44a&amp;o=&amp;hp=1"
              /></a>
            </li>
            <li
              class="bh-photo-modal-masonry-grid-item caption_hover"
              style="
                width: 32.35%;
                position: absolute;
                left: 66.6204%;
                top: 0px;
              "
            >
              <a
                href="https://cf2.bstatic.com/xdata/images/hotel/max1024x768/274359896.jpg?k=bfbdbce61989621207931f7ea759f1e93cfd5c31e2e3daa7ee622b8169500ffc&amp;o=&amp;hp=1"
                target="_blank"
                role="button"
                area-label="Imagen de la galería de este alojamiento"
                data-id="274359896"
                class="bh-photo-modal-grid-item-wrapper"
                ><img
                  class="bh-photo-modal-grid-image"
                  data-id="274359896"
                  alt="Imagen de la galería de este alojamiento"
                  height="191.25px"
                  src="https://cf2.bstatic.com/xdata/images/hotel/max1024x768/274359896.jpg?k=bfbdbce61989621207931f7ea759f1e93cfd5c31e2e3daa7ee622b8169500ffc&amp;o=&amp;hp=1"
              /></a>
            </li>
            <li
              class="bh-photo-modal-masonry-grid-item caption_hover"
              style="width: 32.35%; position: absolute; left: 0%; top: 210px"
            >
              <a
                href="https://cf2.bstatic.com/xdata/images/hotel/max1024x768/402367307.jpg?k=0ad3369f50ce4639b31cc905c65356470b23151e26bd8f2cad63c232d6b09ad9&amp;o=&amp;hp=1"
                target="_blank"
                role="button"
                area-label="Imagen de la galería de este alojamiento"
                data-id="402367307"
                class="bh-photo-modal-grid-item-wrapper"
                ><img
                  class="bh-photo-modal-grid-image"
                  data-id="402367307"
                  alt="Imagen de la galería de este alojamiento"
                  height="191.25px"
                  src="https://cf2.bstatic.com/xdata/images/hotel/max1024x768/402367307.jpg?k=0ad3369f50ce4639b31cc905c65356470b23151e26bd8f2cad63c232d6b09ad9&amp;o=&amp;hp=1"
              /></a>
            </li>
            <li
              class="bh-photo-modal-masonry-grid-item caption_hover"
              style="
                width: 32.35%;
                position: absolute;
                left: 33.3102%;
                top: 210px;
              "
            >
              <a
                href="https://cf2.bstatic.com/xdata/images/hotel/max1024x768/402367302.jpg?k=44ede373f0e5c8a73f5dece7f07d3b5a7855fb185fceb9ab7c9b1179a3ae05e0&amp;o=&amp;hp=1"
                target="_blank"
                role="button"
                area-label="Imagen de la galería de este alojamiento"
                data-id="402367302"
                class="bh-photo-modal-grid-item-wrapper"
                ><img
                  class="bh-photo-modal-grid-image"
                  data-id="402367302"
                  alt="Imagen de la galería de este alojamiento"
                  height="191.25px"
                  src="https://cf2.bstatic.com/xdata/images/hotel/max1024x768/402367302.jpg?k=44ede373f0e5c8a73f5dece7f07d3b5a7855fb185fceb9ab7c9b1179a3ae05e0&amp;o=&amp;hp=1"
              /></a>
            </li>





          </ul>
        </div>
        <div class="bh-photo-modal-thumbs-grid__below"></div>
      </div>
    </div>
  </body>
</html>
