
.ComponentCarousel {

  img {
    max-height: 80vh;
    object-fit: cover;
    /* filter: grayscale(70%); */
    display: block; /* Añadir esta propiedad para evitar espacios en blanco */
    margin: 0 auto; /* Esto centra horizontalmente la imagen */
    position: relative; /* Añadir posición relativa para alinear verticalmente */
    top: 50%; /* Mover la imagen hacia abajo un 50% de su contenedor */
    transform: translateY(0%); /* Corregir la alineación vertical */
}


}

@media (max-width: 768px) {
  .carouselItem {

    h3 {

      font-size: 1.5rem;

    }

    p {

      text-align: center;

    }

  }

}

@media (max-width: 768px) and (orientation: landscape) {

}

@media (min-width: 769px) {


}


@media (min-width: 992px) {


}